services:
  weather-app:
    container_name: weather-app
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules  
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true  # Enables live reload inside Docker
    command: ["npm", "run", "dev", "--", "--host"]